@import '../sass/mixins.scss';

.page-body {
	margin: toRem(25) 0;

	@include respond-to(large) {
		margin: toRem(100) 0;
	}

	.bgnull {
		background-color: color(blue);
		bottom: 0;
		clip-path: polygon(0 0, 100% 0, 100% 50%, 0 33%);
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}

	.leaders {
		align-items: stretch;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.leader-wrapper {
		align-items: stretch;
		display: flex;
		flex: 1 0 100%;

		@include respond-to(small) {
			flex: 0 0 50%;
			padding: 0 15px;
		}

		@include respond-to(small) {
			flex: 0 0 33%;
		}
	}

	.leader {
		align-items: stretch;
		background-color: color(white);
		display: flex;
		flex: 1 0 100%;
		flex-direction: column;
		margin: toRem(25) 0;
		position: relative;
	}

	.leader-meta {
		padding: toRem(25) toRem(25) toRem(70);
	}

	.leader-name {
		font-weight: 700;
		margin: 0;
	}

	.leader-position {
		color: color(lightblue);
		font-size: toRem(14);
		font-weight: 700;
	}

	.leader-social {
		bottom: 0;
		position: absolute;
		p {
			font-weight: 700;
			margin-bottom: 10px;
		}

		ul {
			list-style: none;
			display: flex;
		}

		li {
			margin-right: toRem(15);
		}

		a {
			display: inline-block;
			height: 35px;
			width: 35px;
		}
	}
}