@import '../sass/mixins.scss';

.page-body {
	margin: toRem(25) 0;

	@include respond-to(large) {
		margin: toRem(100) 0;
	}

	.bgnull {
		background-color: color(blue);
		bottom: 0;
		clip-path: polygon(0 0, 100% 0, 100% 50%, 0 33%);
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}