@import '../sass/mixins.scss';

.solutions-section {
	color: color(white);
	position: relative;
	z-index: 400;

	@include respond-to(large) {
		margin-top: -325px;
		z-index: 90;
	}

	.anchor-offset {
		visibility: hidden;
		position: absolute;
		top: -125px;

		@include respond-to(large) {
			top: 0;
		}
	}

	h2 {	
		font-size: toRem(24);
	}

	ul {
		list-style: none;
	}

	.bgcontainer {
		background-color: color(blue);

		@include respond-to(large) {
			clip-path: polygon(0 0, 100% 47.5%, 100% 100%, 0 100%);
			padding-top: 160px;
		}

		@include respond-to(xlarge) {
			clip-path: polygon(0 0, 100% 47%, 100% 100%, 0 100%);
		}

		@include respond-to(epic) {
			clip-path: polygon(0 0, 100% 44.5%, 100% 100%, 0 100%);
		}
	}

	@include respond-to(large) {
		.columns {
			display: flex;
		}
	}

	.column {
		flex: 1 1 50%;
	}

	.toolkit-content {
		flex: 1 1 49%;
		padding: toRem(80) toRem(32) 0;

		@include respond-to(large) {
			padding: 1% 0 toRem(50) 10%;
		}

		@include respond-to(epic) {
			padding: 4.5% 0 2.5% 10%;
		}
	}

	.tab-indicator {
		display: none;
		left: -60px;
		position: absolute;
		top: 17px;
		width: 85px;

		@include respond-to(large) {
			display: block;
		}

		svg {
			fill: color(indicator);
		}
	}

	.toolkit-options {
		display: flex;
		position: relative;
		z-index: 100;
	}

	.tabs {
		font-weight: 700;
		padding-right: 20px;
		position: relative;
		width: 50%;

		// &:after {
		// 	background-color: rgba(color(white), 0.6);
		// 	content: '';
		// 	height: 2px;
		// 	position: absolute;
		// 	right: 0;
		// 	top: 0;
		// 	width: 20px;
		// }

		li {
			margin-bottom: toRem(32);

			&:last-child {
				margin-bottom: 0;
			}
		}

		button {
			background-color: color(tooltabs);
			border: 0;
			color: color(white);
			cursor: pointer;
			display: block;
			height: 70px;
			position: relative;
			transition: all 0.4s linear;
			width: 100%;

			&:focus {
				outline: none;
			}

			&:hover,
			&.active-tab {
				background-color: color(white);
				color: color(blue);
			}
		}

		span {
			@include center;
			padding: 0 10px;
			width: 100%;
		}
	}

	.solutions-container {
		background-color: rgba(color(white), 0.6);
		flex: 1 1 50%;
		margin-left: 40px;
		height: 273px;
		position: absolute;
		right: 0;
		width: 50%;
	}

	.solution {
		color: color(blue);
		height: 273px;
		overflow-y: scroll;
		opacity: 0;
		padding: 15px;
		position: absolute;
		top: 0;
		transition: opacity 0.2s linear;
		width: 100%;
		z-index: 1;

		&.active-solution {
			opacity: 1;
			transition: opacity 0.2s linear 0.2s;
			z-index: 5;
		}

		button {
			background-color: transparent;
			border: 0;
			color: color(white);
			cursor: pointer;
			padding: 0;
			text-align: left;
			transition: all 0.2s linear;

			&:focus {
				outline: none;
			}

			&:hover {
				color: color(blue);
			}
		}
	}

	.subtabs {
		margin-bottom: toRem(16);

		.active-subtab {
			button {
				color: color(blue);
			}
		}
	}

	.descriptors {
		position: relative;

		li {
			position: absolute;
			opacity: 0;
			transition: opacity 0.2s linear;

			&.active-descriptor {
				opacity: 1;
			}
		}
	}

	.tool-logos {
		margin-top: toRem(10);
		ul {
			align-items: center;
			display: flex;
		}

		li {
			flex: 1 1 auto;
			padding: 10px;
		}

		li:nth-of-type(1) {
			flex: 2 2 auto;
		}

		@include respond-to(medium) {
			li:nth-of-type(1) {
				flex: 0 0 300px;
			}
	
			li:nth-of-type(2) {
				flex: 0 0 100px;
			}
		}

		svg {
			fill: color(white);
		}
	}

	.toolkit-images {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 32% 100%);
		display: none;

		@include respond-to(large) {
			display: block;
		}
	}

	.tk-images {
		position: relative;
	}

	.tk-img {
		left: -100%;
		position: absolute;
		top: 0;
		transition: all 0.3s ease(in-out-quart) 0.6s;
		width: 100%;

		&.active-image {
			left: 0;
			transition: all 0.6s ease(in-out-quart);
		}
	}

	.gatsby-image-wrapper {
		min-height: 800px;
	}
}