@import '../sass/mixins.scss';

.solutions-section {
	border-top: solid 25px color(black);
	color: color(white);
	position: relative;

	@include respond-to(large) {
		border: 0;
		height: 657px;
		margin-top: -111px;
	}

	.anchor-offset {
		visibility: hidden;
		position: absolute;
		top: -110px;
	}

	h2 {	
		font-size: toRem(24);
	}

	ul {
		list-style: none;
	}

	.bgcontainer {
		background-color: color(blue);
		margin: 0 auto;
		max-width: 1440px;

		@include respond-to(large) {
			clip-path: polygon(0 0, 100% 20.5%, 100% 100%, 0 100%);
			padding-top: 56px;
		}
	}

	@include respond-to(large) {
		.columns {
			display: flex;
			height: 600px;
			justify-content: flex-end;
		}
	}

	.column {
		flex: 1 1 auto;

		@include respond-to(large) {
			flex: 0 0 50%;
		}
	}

	.toolkit-content {
		padding: toRem(80) toRem(32) 0;

		@include respond-to(large) {
			align-self: center;
			left: 50%;
			max-width: 1200px;
			padding: 0 toRem(32);
			position: absolute;
			transform: translateX(-50%);
			width: 100%;
		}
	}

	.tab-indicator {
		display: none;
		left: -60px;
		position: absolute;
		top: 17px;
		width: 85px;

		@include respond-to(large) {
			display: block;
		}

		svg {
			fill: color(indicator);
		}
	}

	.toolkit-options {
		display: flex;
		position: relative;
		z-index: 100;
	}

	.tabs {
		font-weight: 700;
		padding-right: 20px;
		position: relative;
		width: 50%;

		li {
			margin-bottom: toRem(32);

			&:last-child {
				margin-bottom: 0;
			}
		}

		button {
			background-color: color(tooltabs);
			border: 0;
			color: color(white);
			cursor: pointer;
			display: block;
			height: 70px;
			position: relative;
			transition: all 0.4s linear;
			width: 100%;

			&:focus {
				outline: none;
			}

			&:hover,
			&.active-tab {
				background-color: color(white);
				color: color(blue);
			}
		}

		span {
			@include center;
			padding: 0 10px;
			width: 100%;
		}
	}

	.solutions-container {
		background-color: rgba(color(white), 0.6);
		flex: 1 1 50%;
		margin-left: 40px;
		height: 273px;
		position: absolute;
		right: 0;
		width: 50%;
	}

	.solution {
		color: color(blue);
		height: 273px;
		overflow-y: scroll;
		opacity: 0;
		padding: 15px;
		position: absolute;
		top: 0;
		transition: opacity 0.2s linear;
		width: 100%;
		z-index: 1;

		&.active-solution {
			opacity: 1;
			transition: opacity 0.2s linear 0.2s;
			z-index: 5;
		}

		li {
			position: relative;
		}

		button {
			background-color: transparent;
			border: 0;
			color: color(white);
			cursor: pointer;
			padding: 0;
			text-align: left;
			transition: all 0.2s linear;

			&:focus {
				outline: none;
			}

			&:hover {
				color: color(blue);
			}
		}
	}

	.subtabs {
		margin-bottom: toRem(16);

		.active-subtab {
			button {
				color: color(blue);
			}
		}
	}

	.descriptors {
		position: relative;

		li {
			position: absolute;
			opacity: 0;
			transition: opacity 0.2s linear;

			&.active-descriptor {
				opacity: 1;
			}
		}
	}

	.tool-logos {
		margin-top: toRem(10);
		ul {
			align-items: center;
			display: flex;
		}

		li {
			flex: 1;
			padding: 10px;
		}

		li:nth-of-type(1) {
			flex: 2;
		}

		svg {
			fill: color(white);
		}
	}

	.toolkit-images {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 32% 100%);
		display: none;

		@include respond-to(large) {
			display: block;
		}
	}

	.tk-images {
		position: relative;
	}

	.tk-img {
		left: -100%;
		position: absolute;
		top: 0;
		transition: all 0.3s ease(in-out-quart) 0.6s;
		width: 100%;

		&.active-image {
			left: 0;
			transition: all 0.6s ease(in-out-quart);
		}
	}

	.gatsby-image-wrapper {
		min-height: 800px;
	}

	// Subtabs select list styles
	.subtabs {
		background-color: color(white);
		border: 1px solid color(blue);
		transition: all 0.4s ease(in-out-quart);
		width: 100%;
		z-index: 5;

		ul {
			background-color: color(white);
			border: 1px solid color(blue);
			border-top: 0;
			display: none;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: 1;
		}

		&.open {
			ul {
				display: block;
			}

			.selected-item:after {
				top: 10px;
				transform: rotate(-45deg);
			}
		}

		button {
			background-color: transparent;
			color: blue;
			display: block;
			padding: toRem(5);
			transition: all 0.4s linear;
			width: 100%;

			&:hover {
				background-color: color(blue);
				color: white;
			}
		}

		.selected-item {
			border-bottom: 1px solid color(blue);
			padding: toRem(5);
			padding-right: toRem(32);

			&:after {
				border-style: solid;
				border-width: toRem(2) toRem(2) 0 0;
				content: '';
				display: inline-block;
				height: toRem(10);
				right: toRem(16);
				position: absolute;
				top: toRem(7);
				transform: rotate(135deg);
				vertical-align: top;
				width: toRem(10);
			}

			button {
				color: color(blue);
				padding: 0;

				&:hover {
					background-color: transparent;
				}
			}
		}
	}
}