@import '../sass/mixins.scss';

.hero {
	color: color(white);
	margin-top: toRem(143);
	overflow: hidden;
	position: relative;
	z-index: 90;

	@include respond-to(medium) {
		margin-top: toRem(112);
	}

	a {
		color: color(white);
		text-decoration: underline;
	}

	.bgcolor {
		background-color: color(teal);
	}

	.container {
		display: flex;
		flex-direction: column;
	}

	@include respond-to(large) {
		.bgcolor {
			clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 98.7%, 0 100%);
			margin: 0 auto;
			max-width: 1440px;
			padding-bottom: 25px;
			position: relative;
	
			@include respond-to(xlarge) { 
				clip-path: polygon(0 0, 100% 0, 100% 68%, 12.2% 92%, 0 95%);
				padding-bottom: 50px;
				position: relative;
			}
		}
	}

	.slides {
		margin: 0 auto;
		max-width: 1440px;

		@include respond-to(large) { 
			clip-path: polygon(0 0, 100% 0, 100% 76%, 10% 100%, 0 37%);
			position: relative;
		}

		@include respond-to(xlarge) { 
			clip-path: polygon(0 0, 100% 0, 100% 76%, 11.2% 100%, 0 53%);
			position: relative;
		}
	}

	.overlay {
		background-color: rgba(color(black), 0.4);
		bottom: 0;
		display: none;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;

		@include respond-to(large) {
			display: block;
		}
	}

	.slidemask {
		position: relative;
		height: 500px;

		@include respond-to(large) {
			height: 620px;
		}

		@include respond-to(xlarge) {
			height: 800px;
		}
	}

	.slidecontainer {
		background-color: color(herobg);
		height: 500px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: scale(1) 
				   translateX(-50%) 
				   translateY(-50%);
		transition: opacity 0.3s linear, transform 0.6s linear;
		-webkit-backface-visibility: hidden;
		width: 100%;

		@include respond-to(large) {
			height: 620px;
		}

		@include respond-to(xlarge) {
			height: 800px;
		}
	}

	.slide {
		height: 500px;
		position: absolute !important;
		top: 0;
		width: 100%;

		@include respond-to(large) {
			height: 620px;
		}

		@include respond-to(xlarge) {
			height: 800px;
		}
	}

	.slidecontent {
		background-color: rgba(color(black), 0.4);
		margin: 0 toRem(32);
		padding: toRem(16) toRem(32);
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;

		@include respond-to(medium) {
			text-align: right;
		}

		@include respond-to(large) {
			background-color: transparent;
			margin: auto;
			padding-right: toRem(74);
			transform: translateY(-70%);
		}

		@include respond-to(xlarge) {
			padding-right: toRem(32);
		}
	}

	#slide0 {
		overflow: hidden;

		&.active {
			z-index: 1;
		}

		@include respond-to(xlarge) {
			.slide {
				animation: zoom 30s linear 1;
				transform: scale(1.2)
			}
		}
	}

	#slide1 {
		opacity: 0;

		&.active {
			opacity: 1;
			z-index: 2;

			@include respond-to(xlarge){
				.slide {
					animation: panover 30s linear 1;
					width: 150vw;
				}
			}
		}
	}

	#slide2 {
		opacity: 0;

		&.active {
			opacity: 1;
			z-index: 3;

			@include respond-to(xlarge) {
				.slide {
					animation: panup 30s linear 1;
					height: 150vh;
					transform: translate(-260px, -20%);
					width: 110vw;
				}
			}
		}
	}

	@keyframes zoom {
		from { transform: scale(1) }
		to { transform: scale(1.2) }
	}

	@keyframes panover {
		from { transform: translateX(0) }
		to { transform: translateX(-10%) }	
	}

	@keyframes panup {
		from { transform: translate(-260px, -10%) }
		to { transform: translate(-260px, -20%) }
	}

	.hero-copy {
		align-self: flex-end;
		font-size: toRem(18);
		font-weight: 600;

		@include respond-to(large) {
			font-size: toRem(24);
			width: 50%;
		}

		h2 {
			font-size: toRem(22);
			font-weight: 700;

			@include respond-to(large) {
				font-size: 4vw;
			}

			@include respond-to(xlarge) {
				font-size: 3vw;
			}
		}

		p {
			font-weight: 400;
		}
	}

	.hero-cta {
		font-weight: 700;

		ul {
			list-style: none;
		}

		span {
			display: inline-block;
			font-size: toRem(8);
			transform: translateY(-5px);
		}

		.cta {
			text-decoration: none;

			&:after {
				content: '\2192';
				font-size: 24px;
				margin-left: 25px;
				transition: all 0.2s linear;
			}
		}
	}

	.hero-nav {
		bottom: toRem(16);
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		z-index: 5;

		@include respond-to(large) {
			height: 0;
			left: auto;
			right: toRem(32);
			top: 35%;
			transform: translateX(0)
					   translateY(-50%);
		}

		li {
			display: inline-block;
			list-style: none;
			padding: toRem(8);

			@include respond-to(large) {
				display: flex;
				padding: toRem(8) 0;
			}
		}

		a {
			text-decoration: none;
		}

		button {
			background-color: color(white);
			border: 0;
			border-radius: 50%;
			cursor: pointer;
			height: toRem(15);
			transition: all 0.4s linear;
			width: toRem(15);

			&:hover {
				background-color: rgba(color(teal), 0.5);
			}
		}

		.active-pip {
			background-color: color(teal);
		}
	}
}