@import '../sass/mixins.scss';

.elevator-pitch {
	background-color: color(black);
	position: relative;

	@include respond-to(large) {
		margin-top: -200px;
	}

	.anchor-offset {
		visibility: hidden;
		position: absolute;
		top: -125px;

		@include respond-to(large) {
			top: 0;
		}
	}

	h2 {
		color: color(white);
		font-size: toRem(32);
		margin-bottom: toRem(25);
		font-style: italic;

		@include respond-to(large) {
			margin-bottom: toRem(50);
		}
	}

	p {
		margin: 0;
	}

	.bgnull {
		bottom: 0;
		left: 0;
		position: absolute !important;
		right: 0;
		top: 0;

		@include respond-to(large) {
			clip-path: polygon(12.8% 26.4%, 100% 0, 100% 100%, 31% 100%);
		}
	}

	.epcopy {
		padding: toRem(100) toRem(16);

		@include respond-to(medium) {
			padding: toRem(200) toRem(32);
		}

		@include respond-to(large) {
			padding: toRem(309.5) 0 toRem(189.5);
		}

		span {
			display: inline-block;
			font-size: toRem(10);
			transform: translateY(-6px);
		}
	}

	.cta {

		&:hover {

			&:after {
				transform: translateX(5px);
			}
		}

		&:after {
			content: '\2192';
			font-size: 24px;
			margin-left: 25px;
			transition: all 0.2s linear;
		}
	}

	.container {
		padding-right: 14%;
	}
}