@import '../sass/mixins.scss';

.elevator-pitch {
	background-color: color(black);
	border-top: 20px solid color(black);
	position: relative;

	@include respond-to(large) {
		border: 0;
		margin-top: -135px;
		height: 753px;
	}

	@include respond-to(xlarge) {
		border: 0;
		margin-top: -170px;
		height: 753px;
	}

	.anchor-offset {
		visibility: hidden;
		position: absolute;
		top: -125px;

		@include respond-to(large) {
			top: 0;
		}
	}

	h2 {
		color: color(white);
		font-size: toRem(24);
		line-height: toRem(28);
		margin-bottom: toRem(25);
		font-style: italic;

		@include respond-to(medium) {
			font-size: toRem(32);
			line-height: 40px;
		}

		@include respond-to(large) {
			line-height: 50px;
			margin-bottom: toRem(50);
		}
	}

	p {
		margin: 0;
	}

	.bg-mask {
		margin: 0 auto;
		max-width: 1440px;

		@include respond-to(large) {
			clip-path: polygon(10.4% 20.4%, 100% 0, 100% 100%, 27% 100%);
			height: 753px;
			width: 100%;
		}

		@include respond-to(xlarge) {
			clip-path: polygon(11.6% 25.4%, 100% 0, 100% 100%, 27% 100%);
		}
	}

	.bgnull {
		bottom: 0;
		left: 0;
		position: absolute !important;
		right: 0;
		top: 0;
	}

	.epcopy {
		padding: toRem(100) toRem(16);

		@include respond-to(medium) {
			padding: toRem(200) toRem(32);
		}

		@include respond-to(large) {
			padding: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-30%);
			width: 100%;
		}

		span {
			display: inline-block;
			font-size: toRem(10);
			transform: translateY(-6px);
		}
	}

	.cta {

		&:hover {

			&:after {
				transform: translateX(5px);
			}
		}

		&:after {
			content: '\2192';
			font-size: 24px;
			margin-left: 25px;
			transition: all 0.2s linear;
		}
	}
}