@import '../sass/mixins.scss';

.leaders-page {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	.leader-wrapper {
		align-items: stretch;
		display: flex;
	
		@include respond-to(small) {
			flex: 0 0 50%;
			padding: 0 15px;
		}
	
		@include respond-to(small) {
			flex: 0 0 33%;
		}
	}
	
	.leader {
		align-items: stretch;
		background-color: color(white);
		display: flex;
		flex-direction: column;
		margin: toRem(25) 0;
		position: relative;
	}
	
	.leader-meta {
		padding: toRem(25) toRem(25) toRem(90);
	}
	
	.leader-name {
		font-weight: 700;
		margin: 0;
	}
	
	.leader-position {
		color: color(lightblue);
		font-size: toRem(14);
		font-weight: 700;
	}
	
	.leader-social {
		bottom: 15px;
		position: absolute;
		p {
			font-weight: 700;
			margin-bottom: 10px;
		}
	
		ul {
			list-style: none;
			display: flex;
		}
	
		li {
			margin-right: toRem(15);
		}
	
		a {
			display: inline-block;
			height: 35px;
			width: 35px;
		}
	}
}