@import '../sass/mixins.scss';

.contact {
	background-color: color(black);	
	color: color(white);

	@include respond-to(large) {
		clip-path: polygon(100% 10%, 100% 100%, 0 100%, 0 28.5%);
		margin-top: -300px;
		padding-top: 25px;
	}

	svg {
		margin-right: 15px;
		width: 25px;
	}

	.bgblack {
		background-color: color(blue);
		padding-top: toRem(50);
	}

	.bgblue {
		background-color: color(teal);

		@include respond-to(large) {
			padding-top: 100px;	
		}		
	}

	.form-container {
		padding-bottom: 50px;

		@include respond-to(large) {
			clip-path: polygon(84% 0, 100% 56%, 100% 100%, 0 100%, 0 18%);
			padding-top: 150px;
		}

		.container {
			align-items: flex-end;

			@include respond-to(large) {
				display: flex;
			}			
		}

		.column {
			flex: 1 0 50%;
			padding: 0 toRem(16);
		}
	}

	.cf-container {
		margin: 0 auto;

		@include respond-to(large) {
			padding-top: 135px;
		}
	}

	input,
    textarea {
		background-color: transparent;
        border: 1px solid color(white);
        color: color(white);
        padding: 10px;
        width: 100%;

        &.invalid {
            border: 2px solid color(validation-color);

            &~ .validation-message {
                display: block;
            }
        }

        &.email-invalid {
            border: 2px solid color(validation-color);

            &~ .validation-email {
                display: block;
            }
        }
    }

    input {
		margin-bottom: toRem(16);
		position: relative;
    }

    label {
        @include screen-reader-text;
	}

	.submit-container {
		margin-top: toRem(16);
		text-align: right;
		
        button {
			border: 0;
			display: inline-block;
			font-size: 14px;
			padding: 15px 30px;
        }
    }
	
	::-webkit-input-placeholder {
		color: color(white);
		font-size: toRem(12);
		font-weight: 700;
	  }
	  ::-moz-placeholder {
		color: color(white);
		font-size: toRem(12);
		font-weight: 700;
	  }
	  :-ms-input-placeholder {
		color: color(white);
		font-size: toRem(12);
		font-weight: 700;
	  }
	  :-moz-placeholder {
		color: color(white);
		font-size: toRem(12);
		font-weight: 700;
	  }

	.validation-message,
    .validation-email {
        color: color(validation-color);
        display: none;
        text-align: left;
	}
	
	.postnobills {
		display: none;
	}

	.contact-footer.container {
		display: block;
		padding-top: 50px;

		h3 {
			color: color(teal);
			font-size: toRem(32);
		}
	}
}