@import "../sass/mixins.scss";

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.super-header {
	background-color: color(superheaderbg);
	padding-bottom: toRem(15);
	padding-top: toRem(15);
	text-align: center;
	text-transform: uppercase;

	@include respond-to(medium) {
		.container {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}
	}

	h1 {
		margin: 0 auto;
		max-height: toRem(100);
		max-width: toRem(400);

		@include respond-to(medium) {
			flex: 1 0 auto;
			margin: 0;
			max-width: 180px;
		}

		span {
			@include screen-reader-text;
		}
	}

	p {
		color: color(superheadercopy);
		margin: 0;

		b {
			font-weight: 700;
		}
	}

	svg {
		fill: color(white);
	}
}