@import '../sass/mixins.scss';

.subpage-hero {
	background-color: color(black);
	padding-bottom: 20px;
	position: relative;
	z-index: 1;

	.sub-hero {
		color: color(white);
		margin-top: toRem(96);
		padding: toRem(97) 0 toRem(50);
		text-align: center;
		z-index: 1;

		@include respond-to(medium) {
			margin-top: toRem(64);
			text-align: left;
		}

		@include respond-to(large) {
			padding: toRem(170) 0 toRem(120);
		}
	}

	@include respond-to(large) {
		h2 {
			font-size: toRem(48);
		}
		
		h3 {
			font-weight: 400;
			font-size: toRem(30)
		}
	}
}