@import '../sass/mixins.scss';

.subpage-hero {
	background-color: color(lightblue);
	border-bottom: 20px solid color(black);
	position: relative;
	z-index: 1;

	.sub-hero {
		color: color(white);
		margin-top: toRem(96);
		padding: toRem(97) 0 toRem(50);
		text-align: center;
		z-index: 1;

		@include respond-to(medium) {
			margin-top: toRem(64);
			text-align: left;
		}

		@include respond-to(large) {
			padding: 0;
		}
	}

	@include respond-to(large) {
		h2 {
			font-size: toRem(30);
			margin: 0;
		}
		
		h3 {
			font-weight: 400;
			font-size: toRem(20);
			margin: 0;
		}
	}
	
	.container {
		height: toRem(210);
	}

	.position-this {
		position: absolute;
		top: 50%;
	}
}