@import '../sass/mixins.scss';

.casestories {
	color: color(white);
	position: relative;
	z-index: 100;

	@include respond-to(large) {
		padding-top: 25px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 56%);
	}

	h2 {
		font-size: toRem(32);
	}

	h3 {
		margin-top: toRem(28);
	}

	a {
		color: color(lightblue);
		font-weight: bold;
	}

	ul {
		list-style: none;
	}

	li {
		margin-top: toRem(16);
	}

	button {
		border: 0;
	}

	.columns {
		background-color: color(blue);

		@include respond-to(large) {
			display: flex;
		}
	}

	.column {
		flex: 1 1 50%;
	}

	.story-options {
		display: flex;
		position: relative;

		@include respond-to(large) {
			clip-path: polygon(0 0, 63% 0, 109% 100%, 0 100%);
			display: block;
			height: 760px;
		}
	}

	.story {
		padding-top: toRem(40);
		position: relative;

		@include respond-to(large) {
			padding-top: toRem(75);
		}
	}

	.story-img {
		background-color: color(blue);
		cursor: pointer;		
		overflow: hidden;
		position: relative;
		transition: clip-path 0.5s linear, all 0.5s linear;

		@include respond-to(large) {
			max-height: 300px;
			overflow: visible;
		}

		img,
		picture {
			mix-blend-mode: overlay;
		}
		

		&.active-image {
			background-color: transparent;
		}

		&:nth-of-type(1) {
			z-index: 3;

			@include respond-to(large) {
				clip-path: polygon(0 0, 79% 0, 100% 44%, 0 85%);
			}

			img,
			picture {
				transform: translateY(-200px);
			}
		}

		&:nth-of-type(2) {			
			z-index: 2;

			@include respond-to(large) {
				clip-path: polygon(0 0, 100% 0, 100% 28%, 28% 100%, 0 100%);
				margin-top: -135px;
			}
		}

		&:nth-of-type(3) {
			position: relative;
			z-index: 1;

			@include respond-to(large) {
				margin-bottom: 175px;
				margin-top: -175px;
				padding-left: 25%;
			}
		}
	}

	.story-container {
		margin: 0 toRem(32);
		transition: opacity 0.5s linear, transform 0.5s ease(in-out-quart);

		@include respond-to(large) {
			margin: 0;
		}

		&.expanded {
			opacity: 1;
			position: absolute;
			transform: translateY(-200px);
			transition: opacity 0.1s linear, transform 0.5s ease(in-out-quart) 0.5s;
			width: 100%;
		}
	}

	.story-head {
		opacity: 1;
		transition: opacity 0.5s linear 0.5s;

		&.expanded {
			opacity: 0;
			transition: opacity 0.5s linear;
		}
	}

	.story-shift {
		position: relative;
		
		&:nth-of-type(1) {
			z-index: 3;
		}

		&:nth-of-type(2) {
			z-index: 2;
		}

		&:nth-of-type(3) {
			z-index: 1;
		}

		&.active-story {

			&:nth-of-type(1),
			&:nth-of-type(2),	
			&:nth-of-type(3) {
				z-index: 5;
			}
		}
	}

	.story-meta,
	.story-body {
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.story-meta {
		transition: opacity 0.5s linear;
		z-index: 1;
	}

	.story-body {
		transition: opacity 0.5s linear;
		z-index: 0;
	}

	.active-story {
	
		.story-meta {
			opacity: 1;
		}
	}

	.expanded-story {
		opacity: 1;

		.story-meta {
			opacity: 0;
			transition: opacity 0.5s linear;
		}

		.story-body {
			opacity: 1;
			transition: opacity 0.5s linear 0.5s;
		}
	}

	.cta {
		color: color(white);
		margin-top: toRem(24);

		&:after {
			content: '\2192';
			font-size: 24px;
			margin-left: 25px;
			transition: all 0.2s linear;
		}
	}

	.color-images {
		height: 900px;
		position: absolute;
		top: 0;
		width: 900px;
	}

	.color-image {
		left: -100%;
		max-height: none;
		position: absolute;
		top: 0;
		transition: all 0.4s ease(in-out-quart);
		width: 100%;
		z-index: 100;

		&:nth-of-type(1) {
			img,
			picture {
				transform: translateY(-200px);
			}
		}

		&.expanded-image {
			left: 0;
		}
	}
}