@import '../sass/mixins.scss';

.casestories {
	color: color(white);
	position: relative;
	z-index: 91;

	@include respond-to(large) {
		padding-top: 25px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 56%);
	}

	.anchor-offset {
		visibility: hidden;
		position: absolute;
		top: -125px;
	}

	&.expanded {
		z-index: 900;

		@include respond-to(large) {
			z-index: 890;
		}

		.color-images {
			left: 0;
			z-index: 1000;
		}

		.story-options {
			min-height: 1000px;

			@include respond-to(large) {
				min-height: 0;
			}
		}
	}

	h2 {
		font-size: toRem(32);
	}

	h3 {
		margin-top: toRem(28);
	}

	a {
		color: color(lightblue);
		font-weight: bold;
		transition: all 0.2s linear;

		&:hover {
			color: color(teal);
		}
	}

	ul {
		list-style: none;
	}

	li {
		margin-top: toRem(16);
	}

	button {
		border: 0;
		cursor: pointer;
		transition: background-color 0.2s linear;

		&:hover {
			background-color: color(lightblue);
		}
	}

	.columns {
		background-color: color(blue);

		@include respond-to(large) {
			display: flex;
		}
	}

	.column {
		flex: 1 1 50%;
	}

	.story-options {
		position: relative;
		align-items: stretch;
		display: flex;
		height: 190px;
		overflow: hidden;

		@include respond-to(large) {
			clip-path: polygon(0 0, 63% 0, 109% 100%, 0 100%);
			display: block;
			height: 760px;
		}
	}

	.story {
		min-height: 300px;
		padding-top: toRem(40);
		position: relative;

		@include respond-to(large) {
			padding-top: toRem(75);
		}

		&.expanded {
			position: absolute;
			top: 190px;
			z-index: 1000;

			@include respond-to(large) {
				position: static;
				top: 0;
			}
		}
	}

	.story-img {
		background-color: color(blue);
		cursor: pointer;
		flex: 1 0 33%;		
		height: 199px;
		position: relative;
		transition: clip-path 0.5s linear, all 0.5s linear;

		@include respond-to(large) {
			height: auto;
			max-height: 310px;
			overflow: visible;
		}

		.gatsby-image-wrapper {
			height: 100%;
		}

		img,
		picture {
			mix-blend-mode: overlay;
			object-fit: cover;
		}
		
		&.active-image {
			background-color: transparent;
			z-index: 1;
		}

		&:nth-of-type(1) {

			@include respond-to(large) {
				clip-path: polygon(0 0, 79% 0, 100% 44%, 0 85%);

				img,
				picture {
					transform: translateY(-170px);
				}
			}

			@include respond-to(xlarge) {
				img {
					transform:  translateY(-250px);
				}
			}

			@media not all and (min-resolution:.001dpcm) {
				clip-path: none;
				height: 190px;

				img,
				picture {
					transform: translateY(0);
				}
			}

		}

		&:nth-of-type(2) {	

			@include respond-to(large) {
				clip-path: polygon(0 35%, 100% -6%, 100% 28%, 28% 100%, 0 100%);
				margin-top: -157px;

				img,
				picture {
					transform: translateY(20px);
				}
			}

			@include respond-to(epic) {
				img,
				picture {
					transform: translateY(-80px);
				}
			}

			@media not all and (min-resolution:.001dpcm) {
				clip-path: none;
				height: 190px;
				margin-top: 0;

				img,
				picture {
					transform: translateY(0);
				}
			}

		}

		&:nth-of-type(3) {
			position: relative;

			@include respond-to(large) {
				clip-path: polygon(16% 66%, 94% -7%, 100% 100%, 8% 100%, 0 100%);
				margin-bottom: 175px;
				margin-top: -179px;
				padding-left: 25%;

				img,
				picture {
					transform: translateY(-55px);
				}
			}

			@include respond-to(xlarge) {
				img {
					transform:  translateY(-155px);
				}
			}

			@media not all and (min-resolution:.001dpcm) {
				clip-path: none;
				height: 300px;
				margin: 0;
				padding: 0;

				img,
				picture {
					transform: translateY(-30%);
				}
			}
		}
	}

	.story-container {
		flex-wrap: wrap;
		min-height: 243px;
		position: relative;
		transition: opacity 0.5s linear, transform 0.5s linear;

		@include respond-to(large) {
			display: flex;
			margin: 0;
		}

		&.expanded {
			margin: 0;
			max-height: none;
			transition: opacity 0.1s linear, transform 0.5s linear 0.5s;
			width: 100%;

			@include respond-to(large) {
				transform: translateY(-200px);
			}
		}
	}

	.story-head,
	.story-foot {
		opacity: 1;
		padding: 0 toRem(32);
		transition: opacity 0.5s linear 0.5s;

		&.expanded {
			opacity: 0;
			transition: opacity 0.5s linear;
		}
	}

	.story-shift {
		min-height: 300px;
		position: absolute;
		top: -30px;
		width: 100%;

		@include respond-to(large) {
			flex: 1 1 100%;
			top: 0;
			width: 100%;
		}

		&.active-story {
			.story-meta {
				z-index: 1;
			}
		}

		&.expanded-story {
			.story-meta {
				opacity: 0;
				z-index: -1;
			}
		}
	}

	.story-meta,
	.story-body {
		opacity: 0;
		padding: 0 toRem(32);
		transition: all 0.5s linear;
		width: 100%;

		@include respond-to(large) {
			position: absolute;
		}
	}

	.story-meta {
		min-height: 300px;
		position: absolute;
		transition: opacity 0.5s linear;
		left: 0;

		@include respond-to(large) {
			top: 0;
		}
	}

	.story-body {
		transition: opacity 0.5s linear;

		@include respond-to(large) {
			font-size: toRem(14);
		}

		@include respond-to(xlarge) {
			font-size: toRem(16);
		}

		@include respond-to(large) {
			h3 {
				font-size: toRem(20);
			}
		}

		@include respond-to(xlarge) {
			h3 {
				font-size: toRem(24);
			}
		}
	}

	.active-story {
	
		.story-meta {
			opacity: 1;
		}
	}

	.expanded-story {
		opacity: 1;
		z-index: 1;

		.story-meta {
			opacity: 0;
			transition: opacity 0.5s linear;
		}

		.story-body {
			background: rgba(color(black), 0.6);
			height: 100%;
			max-height: 1500px;
			opacity: 1;
			overflow-y: scroll;
			position: fixed;
			top: 0;
			transition: opacity 0.5s linear 0.5s;

			@include respond-to(large) {
				background-color: transparent;
				position: static;
			}
		}

		.cta {
			margin-bottom: 32px;
		}
	}

	.cta {
		color: color(white);
		margin-top: toRem(24);

		&:after {
			content: '\2192';
			font-size: 24px;
			margin-left: 25px;
			transition: all 0.2s linear;
		}

		&.back:after {
			margin-left: 0;
			content: '';
		}

		&.back:before {
			content: '\2190';
			font-size: 24px;
			margin-right: 25px;
			transition: all 0.2s linear;
		}
	}

	.story-foot {
		display: inline-block;
		position: relative;
		top: 24px;

		@include respond-to(large) {
			top: 0;
		}

		h3 {
			margin-bottom: 10px;
		}

		p {
			text-align: right;
		}

		a {
			padding-right: 35px;
			position: relative;
			transition: all 0.2s linear;

			&:after {
				content: '\2192';
				font-size: 24px;
				position: absolute;
				right: 0;
				top: -5px;
				transition: all 0.2s linear;
			}

			&:hover {
				color: color(teal);

				&:after {
					right: -5px;
				}
			}
		}
	}

	.color-images {
		bottom: 0;
		height: 1280px;
		left: -400%;
		position: fixed;
		right: 0;
		top: 0;
		width: 1280px;

		@include respond-to(large) {
			position: absolute;
		}
	}

	.color-image {
		left: -100%;
		max-height: none;
		position: absolute;
		top: 0;
		transition: all 0.4s linear;
		width: 100%;

		@include respond-to(large) {
			&:nth-of-type(1) {
				img,
				picture {
					transform: translateY(-200px);
				}
			}
		}

		&.expanded-image {
			left: 0;
		}

		&.expanded-image {
			&:nth-of-type(1) {
				transform: translateY(-30%);

				@include respond-to(medium) {
					transform: translateY(0);
				}

				@include respond-to(large) {
					transform: translateY(-10%);
				}
			}

			&:nth-of-type(2) {
				height: 1400px;
				transform: translateY(-70px);

				@include respond-to(medium) {
					height: 1920px;
					transform: translateY(0);
					width: 1920px;
				}

				@include respond-to(large) {
					transform: translateY(-30%);
				}
			}

			&:nth-of-type(3) {
				left: 50%;
				top: 50%;
				transform: translate(-90% , -80%);

				@include respond-to(medium) {
					transform: translate(-70% , -60%);
				}

				@include respond-to(large) {
					transform: translate(-90% , -80%);
				}

				@include respond-to(epic) {
					transform: translate(-70% , -80%);
				}
			}
		}
	}
}